<nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <img src="https://cdn-icons-png.flaticon.com/128/4807/4807695.png" alt="Healthcare Logo" class="navbar-logo">
      </div>
      <div class="navbar-links">
        <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
        <a routerLink="/about" class="nav-link" routerLinkActive="active">About Us</a>
        <a routerLink="/doctors" class="nav-link" routerLinkActive="active">Doctors</a>
        <a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
        <a routerLink="/login" class="nav-link" routerLinkActive="active">Log In</a>
        <a routerLink="/chat" class="nav-link" routerLinkActive="active">Chat</a>
        <a routerLink="/health-checkup" class="nav-link" routerLinkActive="active">HealthCheckup</a>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>